@keyframes fade-in {
  0% {
    backdrop-filter: brightness(100%);
  }
  100% {
    backdrop-filter: brightness(15%);
  }
}
@keyframes fade-out {
  0% {
    backdrop-filter: brightness(15%);
  }
  100% {
    backdrop-filter: brightness(100%);
  }
}
@keyframes button-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes button-disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.wrap {
  animation: fade-in 200ms ease;
  backdrop-filter: brightness(15%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
}
.closing {
  animation: fade-out 200ms ease;
}
.modal-header {
  background-color: transparent;
  height: calc(var(--spacer) * 4);
  width: 100%;
}
.header-content {
  height: calc(var(--spacer) * 4);
  margin: 0 auto;
  padding: 0 calc(var(--spacer) * 2);
}
.logo, .logo-image {
  height: calc(var(--spacer) * 2 + var(--spacer-half));
  width: calc(var(--spacer) * 2 + var(--spacer-half));
}
.logo, .menu {
  cursor: pointer;
}
.menu, .menu-image {
  height: calc(var(--spacer) * 2);
  width: calc(var(--spacer) * 2);
}
.modal-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.splitter {
  background-color: var(--negative);
  height: 1px;
  margin-bottom: var(--spacer);
  margin-top: var(--spacer-half);
  width: calc(var(--spacer) * 15);
}
.menu-button {
  animation: button-appear 200ms ease;
  background-color: transparent;
  border-radius: calc(var(--spacer-half) / 2);
  color: var(--text-inverted);
  font-size: var(--spacer);
  font-weight: 300;
  height: calc(var(--spacer) * 3);
  margin-bottom: var(--spacer-half);
  opacity: 1;
  transition: background-color 200ms ease-out, color 200ms ease-out;
  width: calc(var(--spacer) * 15);
}
.hide {
  animation: button-disappear 200ms ease;
}
.danger-button {
  color: var(--negative);
}
.highlight-button {
  border: 1px solid var(--background);
}
.highlight-danger-button {
  border: 1px solid var(--negative);
}
.menu-button:hover {
  background-color: var(--background);
  color: var(--text);
  transition: background-color 200ms ease-in, color 200ms ease-in;
}
.danger-button:hover {
  background-color: var(--negative);
}
.footer {
  background-color: transparent;
  height: 1px;
}
