:root {
  --accent: #2244FF;
  --accent-light: #4488FF;
  --background: #FFFFFF;
  --footer-height: 48px;
  --header-height: 64px;
  --muted: #A0A0A0;
  --muted-dark: #686868;
  --muted-light: #EAEAEA;
  --negative: #BF1725;
  --positive: #259F37;
  --spacer: 16px;
  --spacer-half: 8px;
  --text: #080808;
  --text-inverted: #FFFFFF;
  --warning: #DD8834;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background: var(--background);
  color: var(--text);
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
