@import "./base.css";

a {
  color: var(--accent);
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  outline: none;
  padding: 0;
}

.align-items-center {
  align-items: center;
}
.direction-column {
  flex-direction: column;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-space-between {
  justify-content: space-between;
}
.mb-1 {
  margin-bottom: var(--spacer);
}
.ml-1 {
  margin-left: var(--spacer);
}
.mt-1 {
  margin-top: var(--spacer);
}
.mt-2 {
  margin-top: calc(var(--spacer) * 2);
}
.mt-3 {
  margin-top: calc(var(--spacer) * 3);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.auth-title {
  font-size: calc(var(--spacer) * 2);
  font-weight: 200;
  letter-spacing: calc(var(--spacer-half) / 2);
  text-align: center;
}

.centered-wrap {
  min-height: calc(100vh - (var(--footer-height) + var(--header-height)));
  justify-content: center;
  margin: 0 auto;
  padding: 0 var(--spacer);
}

.header-width {
  max-width: calc(var(--spacer) * 40);
  min-width: calc(var(--spacer) * 20);
  width: 100%;
}

.page-wrap {
  margin: 0 auto;
  padding: var(--spacer) calc(var(--spacer) * 2);
}

.page-title {
  font-size: calc(var(--spacer) * 2);
  font-weight: 200;
  letter-spacing: calc(var(--spacer-half) / 2);
  text-align: left;
}

.width {
  max-width: calc(var(--spacer) * 25);
  min-width: calc(var(--spacer) * 20);
  width: 100%;
}
